@page "/"
@inherits EmployeeListBase

<h3>EmployeeList</h3>

<div class="card-deck">

    <input type="checkbox" id="showFooter" @bind="ShowFooter" />
    <label for="showFooter">Show Footer</label>

    @if (Employeess == null)
    {
        <div class="spinner">

        </div>
    }
    else
    {

        @foreach (var employee in Employeess)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter">
            </DisplayEmployee>
        }

    }

</div>